@import url("https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@400..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

:root {
  --background: #f5f7fa;
  --foreground: #1e1e2f;

  /* Accent color */
  --accent: rgb(0, 153, 102);

  /* Additional colors */
  --success: #10b981;
  --warning: #f59e0b;
  --error: #ef4444;
}

@theme inline {
  --font-montserrat: "Montserrat", sans-serif;
  --font-poppins: "Poppins", sans-serif;

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* Accent color */
  --color-accent: var(--accent);

  /* Additional colors */
  --color-success: var(--success);
  --color-warning: var(--warning);
  --color-error: var(--error);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #121212;
    --foreground: #e4e6eb;

    /* Additional colors */
    --success: #10b981;
    --warning: #f59e0b;
    --error: #ef4444;
  }
}

body {
  font-family: "Wix Madefor Display", sans-serif;
}
